body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background: #f7f9fa;
  color: #333;
}

h1, h2 {
  color: #3544e2;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 100%;
  margin: auto;
}

input, textarea, button {
  padding: 10px;
  width: 60% ;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin: 10px auto ;
}

button {
  background: #5215eb;
  color: white;
  border: none;
  cursor: pointer;
  width: 20%
}
